<div class="p-4">
  <div class="container">
    <div *ngIf="hero">
      <h3>{{hero.name | uppercase}} Details</h3>
      <div><span>id: </span>{{hero.id}}</div>
      <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
      </div>
    
        <div class="row">
            <div class="col col-lg-2">
              <button class="btn btn-sm btn-danger form-control btn-block" (click)="goBack()">Go back</button>
            </div>
            <div class="col col-lg-2">
              <button class="btn btn-sm btn-primary form-control btn-block" (click)="save()">Save</button>
            </div>
          </div>
      
      
    </div>
  </div>
</div>
